@using Newtonsoft.Json

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotnetPractice</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    @Html.Partial("_Nav")

    <div class="container body-content">
        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue/vue-resource-min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @if (Model != null)
    {
        <script>var viewModel = @Html.Raw(JsonConvert.SerializeObject(Model));</script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
